# Created by .ignore support plugin (hsz.mobi)
### Dart template
# Don’t commit the following directories created by pub.
.buildlog
.pub/
build/
packages
!web/packages
cupid_error.log
.env

# Or the files created by dart2js.
#*.dart.js
#!web/main.dart.js
#*.js_
#*.js.deps
#*.js.map


