<head>
    <title>Bridge</title>
</head>
<body>
<h1>Pages</h1>
{{#tasks}}
    <div>{{title}}</div>
    <input type="checkbox"
            {{#completed}}
                checked
            {{/completed}}
            >
    {{completed}}
{{/tasks}}
</body>