<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>elements}}
</head>

<body>

<app-main>

</app-main>

<!--<script src='/main.dart.js'></script>-->
<script src='main.dart' type="application/dart"></script>
</body>